.navbar {
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .navbar h1 {
    color: #300475;
  
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    border-radius: 7px;

  }
  
  .navbar a:hover {
    background-color: #2f0475c9;
    border-radius: 7px;
    color: white;
    transition: 0.2s ease;
  
  }
  
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }